[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

scikit-learn = "*"
nltk = "*"
"96261be" = {file = "http://download.pytorch.org/whl/cu75/torch-0.2.0.post3-cp27-cp27mu-manylinux1_x86_64.whl"}
flask = "*"
spacy = "*"